<div class="player">
  <div class="player__avatar animatedBlockWrapper">
    <div class="avatar avatar_animated js-playerAvatar">
      <img class="js-playerAvatarImg" src="images/{{img}}.png" alt="Matumbaman face"/>
    </div>
  </div>
  <div class="player__title animatedBlockWrapper">
    <div class="title title_animated js-playerTitle">
      <div class="title__divider divider"></div>
      <div class="title__text animatedBlockWrapper">
        <div class="text text_animated js-playerTitleText">
          {{name}}
        </div>
      </div>
    </div>
  </div>
  <div class="player__team animatedBlockWrapper">
    <div class="team team_animated js-playerTeam ">
      <div class="team__text animatedBlockWrapper">
        <div class="text text_animated js-playerTeamText">
          &#35; {{team}}
        </div>
      </div>
    </div>
  </div>
</div>