@import "./css/normalize.css";
@import "./css/font-awesome.min.css";
@import "./css/styles.css";
@import "./partials/_variables";


body {
  a {
    color: yellow;
  }
  p {
    color: green;
  }
}

.wrapper{
  background-color: $bg;
  width: 100vw;
  height: 100vh;
}